<div class="cover">
  <div class="cover-text">
      <h1>The alphaBlog</h1>
      <p class="lead">Welcome, we're that one blog that is totally and I mean totally alpha, scroll or click to learn more</p>
      <a href="" role="button" class="btn btn-danger btn-lg">Join now!</a>
  </div>
</div>

<hr>