<div class="cover">
  <div class="cover-text">
      <h1>The alphaBlog</h1>
      <p class="lead">Welcome, we're that one blog that is totally and I mean totally alpha, scroll or click to learn more</p>
    
      <%= link_to "Join now!",signup_path, class: "btn btn-danger btn-lg" %>

  </div>
</div>

<hr>
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h2>Article Preview</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
          ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta 
          gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
          Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        
      </div>
    </div>